.footer {
  background-color: $greyish-brown;
  &__button { 
    width: 45px;
    height: 45px;
    border-radius: 22px;
    border: none;
    align-self: center;
    transform: translate(160px, -15px);
    background-color: $white;
  }
  & .links {
    text-decoration: none;
    list-style: none;
    color: $white;
    & .li {
      font-family: $text;
      font-size: 16px;
      text-transform: uppercase;
      line-height: 30px;
      text-align: center;
    }
  }
  &__copy {
    color: $white;
    font-family:$text;
    line-height: 2.14;
    font-size: 14px;
    text-align: center;
  }
  @media (min-width: 768px) {
    &__button{
      transform: translate(360px, -15px);
    }
    &__container {
      display: flex;
      justify-content: space-around;
      & .products {
        order: 2;
        padding-bottom: 24px;
      }
      & .social {
        order: 3;
      }
      &__copy {
        order: 1;
      }
    }
  }
}
