.header{
    display:inline;
    position: fixed;
    &__container{
        background-color:#f26002;
        width: 37px;
        height: 34px;
        & img{
            margin: 10px;
        }
    }
} 