<main>
    <section class="hero" id="hero">
        <h1 class="hero__h1">
            hasta un 50% de descuento
        </h1>
        <p class="text">
            Ya están aquí las ofertas de fin de temporada
        </p>
        <button class="hero__button">
            <a href="#action">
                <img class="img" src="/images/ico-scroll-down.svg" alt="arrowScroll">
            </a>
        </button>
    </section>
    <section class="conect">
        <p class="conect__claim">Los sentimientos nos inspiran</p>
        <h2 class="h2">Conecta Contigo</h2>
        <p class="text">
            Esto es una celebración de todo lo que nos mueve. Del poder de ellegir y de la liberyad de ser. Rendimos homenaje al hermoso caos del moviento y a la plena conciencia que tan bien nos hace sentir.
        </p>
        <button class="conect__button">
            Comprar
        </button>
    </section>
    <section class="grid_container">
        <h3 class="h3" id="action">
            Año nuevo, movimientos nuevos
        </h3>
        <load src="/partials/action.html" class="box1" name="Entrenamientos" desc="Sesiones de running y entrenamientos."/>
        <load src="/partials/action.html" class="box2" name="Cualquier nivel" desc="Entrenamientos para cada nivel."/>
        <load src="/partials/action.html" class="box3" name="Exclusividad" desc="Productos ara miembros premium."/>
        <button class="button">
            Empezar ahora
        </button>
    </section>
</main>